/************************************************************************************/
/*  Web del Romanticismo                                                            */
/*  Hoja de estilo para CANCION DEL PIRATA                                          */
/*  autor: Daniel Contreras Pastrana                                                */
/*  version: 1.0                                                                    */
/*  fecha: 04 de Noviembre de 2022                                                  */
/************************************************************************************/

/* ESTILO GENERAL*************************************************************/

@font-face {
    src: url('../fonts/BacktoBlackDemo.ttf');
    font-family: titulos;
    }

@font-face {src: url('../fonts/NunitoSans-Regular.ttf');
    font-family: textos
    }

* {box-sizing: border-box;}

body {  margin:0; padding:0; /*Resetear el por defecto de la ventana*/
        font-family: textos;
        font-size: 1.6em; 
        background-color: #aa8d737e;       
}

#wrapper {  width: 80%;
            margin:auto;
            background-color: aliceblue;}

section {padding: 4% 0;} /* siempre voy a querer que el contenido de cualquier
                            seccion quede separado del borde superior/inferior*/


.titulo-seccion{font-family: titulos;
                font-size: 2.5rem;
                color: #4d1b11;
                padding-top: 5px;
                text-align: center;
                padding-bottom: 4%;
}

/***********    HERO SECTION    OPTCION 1: FOTO + TEXTO  *********************/
#hero {background-image: url(../images/wanderer-above-the-sea-fog-friedrich.jpg);
        height: 100vh;                  /* Obligar a que se vea mas allá del contenido del bloque */
        background-repeat: no-repeat;   /* No repita el patron de la foto */
        background-size: cover;         /* Cubre todo el fondo */
        background-position: center;    /* Fija la imagen al centro, si achicamos se mantendra centrada y tamaño adaptado */           
        padding-left: 5%;
        padding-top: 5%;}

#titulo {background-color: rgba(255, 255, 255, 0.507);
        width: 30%;
        padding: 2%;
        text-align: center;
        border-radius: 8% 8% 8% 8%;
        font-family: titulos;       /* la fuente debe ir en el titulo y no en el hero*/
        font-size: 3rem;            /* Utilizamos rem para que tenga en cuenta la proporcion de la raiz completa y no del div o seccion*/
        color:#4d1b11;
    }
/***********    HERO SECTION 2: APP + POSITION + FROSTED GLASS  *********************/

#hero2 {    background-image:url(../images/low-poly-grid-haikei.svg);
            height: 100vh;
            background-repeat: no-repeat;
            background-position: center;
        
            position: relative; /*el hero se mueve de sitio*/
        }

#titulo2 {  font-family: titulos;
            font-size: 4rem;
            text-align: center; /* podria haber sido un padding */
            background-color: rgba(255, 255, 255, 0.212);
            width: 50%;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 30%;
            

            

            /* Estas cuatro reglas colocan una caja en medio de otra */

            position: absolute; /* se fija DENTRO de hero*/
            top:50%;
            left:50%;   
            transform: translate(-50%,-50%); 
        
        /* PARA EL EFECTO FROSTED GLASS (Fondo debe ser blanco y opacidad por debajo de 0.5) */
        
            backdrop-filter: blur(3px);
        }
        
 /***********    HERO SECTION 3: COLOR LISO + GATEWAVES  *********************/

#hero3 {   background-color: #309184; /* El mismo color de la ola*/
            height: 40vh;
            position: relative;
        }

#titulo3 {  font-family: titulos;
            font-size: 3rem;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
        }
/********** GRID IDEAS  ***************/

#ideas{background-color: rgba(128, 128, 128, 0.26);}

/* Vamos a montar un GRID en dos columnas al 50%*/
/* Necesito primero un contenedor grid*/

#grid2 {display: grid;
        grid-template-columns: 50% 50%;
        font-family: texto;
        font-size: 1.2rem;}



/* Selecciono las imágenes DENTRO de una columna y les aplico el 100% que es el ancho
    que es el ancho total de la columna*/

.col2 img {width: 100%;
            
            }

.coltexto {padding: 4%;}
/************** AUTORES **************************************/
#grid4 {display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-family: texto;
    font-size: 1.2rem;}
.col4 {padding: 8%;
    }

.boton {text-decoration: none;
            color: white;
            font-weight: bold;
            background-color: rgba(85, 85, 85, 0.411);
            padding: 5px 10px;}
    
.boton:hover {background-color: white;
                color: #777;}
/************** FOOTER  **************************************/
footer {background-color: rgba(128, 128, 128, 0.26);}

#grid3 {display: grid;
    grid-template-columns: 25% 25% 50%;
    font-family: texto;
    font-size: 1.3rem; }
.col3 {padding: 8%;}
#ancha {padding: 3%;}

/**** estilo de la CARDS de w3schools *****/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1.3s;
  }

  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.651);
  }
  
  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    background-color: #D5C6B9;
    margin-top: -2px;
  }
.card img{width: 100%;}

/***************     MEDIA QUERIES       *********************/

@media only screen and (width<=1100px){
    #wrapper {width: 100%;}
    #titulo {width: 80%;}
    #titulo2 {width: 70%;}
}
/*****  PARA TABLET *******/
@media only screen and (width<=900px){
    #wrapper {width:90%}
    #grid2 {grid-template-columns: 100%;}
    #grid4 {grid-template-columns: 50% 50%;}
    #grid3 {grid-template-columns: 50% 50%;}
    #ancha {margin: auto;}
    
}
/*****  PARA MOVIL  *******/
@media only screen and (width<=600px){
    #wrapper {width: 100%;}
    #grid4 {grid-template-columns: 100%;}
    #grid3 {grid-template-columns: 100%;}
    
}
